---

- name: Disable MOTD on login and SSHD
  replace: dest="{{ item.file }}" regexp="{{ item.regexp }}" replace="{{ item.line }}"
  with_items:
    - { regexp: '^session.*optional.*pam_motd.so.*', line: '# MOTD DISABLED', file: '/etc/pam.d/login' }
    - { regexp: '^session.*optional.*pam_motd.so.*', line: '# MOTD DISABLED', file: '/etc/pam.d/sshd' }
  tags: [ 'cloud' ]

- name: Install tools
  pkgng: name="{{ item }}" state=present
  with_items:
    - git
    - screen
    - bash

- name: Configure loopback for services
  template: src=rc.conf.local.j2 dest=/etc/rc.conf.local backup=yes
  notify:
    - reload FreeBSD network configuration

- meta: flush_handlers

- name: Enable packet forwarding for IPv4
  sysctl: name=net.inet.ip.forwarding value=1

- name: Enable packet forwarding for IPv6
  sysctl: name=net.inet6.ip6.forwarding value=1

- name: make sure various directories exist
  file:
    name: "{{ item }}"
    state: directory
    owner: root
    group: whell
    mode: 0755
  with_items:
    - /opt
    - /var/lib
